<% if selected_answers.present? %>
  <div class="flex justify-center items-center mb-5">
    <div class="grid grid-cols-1 gap-2">
      <table class="table-auto w-full max-w-4xl text-center border-collapse">
        <% questions.each_slice(10) do |questions_slice| %>
          <thead>
            <tr>
              <th class="border-b-2 border-gray-300 px-2 py-1">問題番号</th>
              <% questions_slice.each do |question| %>
                <th class="border-b-2 border-gray-300 px-2 py-1">
                  <%= question_code(question) %>
                </th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border border-gray-300 px-2 py-1">回答</td>
              <% questions_slice.each do |question| %>
                <td class="border border-gray-300 px-2 py-1 bg-sky-100">
                  <%= selected_answers[question.id]&.join(', ') %>
                </td>
              <% end %>
            </tr>
            <tr>
              <td class="border border-gray-300 px-2 py-1">正答</td>
              <% questions_slice.each do |question| %>
                <td class="border border-gray-300 px-2 py-1 bg-green-100">
                  <%= question.correct_option_numbers.join(', ') %>
                </td>
              <% end %>
            </tr>
            <tr>
              <td class="border border-gray-300 px-2 py-1">正誤</td>
              <% questions_slice.each do |question| %>
                <td class="border border-gray-300 px-2 py-1 bg-green-100">
                  <%= correct_answer_icon(selected_answers, question) %>
                </td>
              <% end %>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
  <div class="text-center justify-center">
    <%= link_to '問題選択画面に戻る', tests_select_path, class: 'bg-sky-100 text-gray-700 hover:bg-sky-500 hover:text-orange-300
                    font-bold py-2 px-4 rounded-lg shadow-xl' %>
  </div>
<% end %>
