<div class='flex flex-wrap body-font'>
  <div class='w-full max-w-4xl m-auto'>
    <div data-controller="tab" class='mb-10 mt-5'>
      <div class="flex">
        <button data-action="tab#showYearTypes" class='bg-sky-100 text-black font-bold py-2 px-4 rounded'>
          模試形式
        </button>
        <button data-action="tab#showTagTypes" class='bg-purple-300 text-black font-bold py-2 px-4 rounded'>
          小テスト形式
        </button>
      </div>

      <!-- 年度選択 -->
      <div data-tab-target="year" class='w-full h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden shadow-xl'>
        <div class='m-5'>
          <div class='mt-3 flex items-center'>
            <%= image_tag 'calendar.png', size: 50 %>
            <h2 class='font-bold text-xl text-gray-900 ml-3'>年度から選択</h2>
          </div>

          <div class='mt-3 grid grid-cols-4 gap-3'>
            <% @tests.each do |test| %>
              <%= button_to "第#{test.turn}回（#{test.year}年度）", test_path(test.id),
                            class: 'bg-sky-100 text-gray-800 hover:bg-sky-500 font-bold
                            py-2 px-4 rounded-full shadow-xl text-center', method: :get %>
            <% end %>
          </div>
        </div>
      </div>
      <!-- タグ選択 -->
      <div data-tab-target="tag" class='hidden w-full h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden shadow-xl'>
        <div class='m-5'>
          <div class='mt-3 flex items-center'>
            <%= image_tag 'tag.png', size: 50 %>
            <h2 class='font-bold text-xl text-gray-900 ml-3'>タグから選択</h2>
          </div>
          <div class='mt-3'>
            <%= form_with url: mini_tests_index_path, method: :get do |f| %>
              <h3 class='font-bold text-gray-900'>問題数を選択</h3>
              <div class='flex flex-wrap justify-start'>
                <div class='mr-4'>
                  <%= radio_button_tag 'question_count', 10, false, id: 'question_count_10' %>
                  <%= label_tag 'question_count_10', '10問' %>
                </div>
                <div class='mr-4'>
                  <%= radio_button_tag 'question_count', 20, false, id: 'question_count_20' %>
                  <%= label_tag 'question_count_20', '20問' %>
                </div>
                <div class='mr-4'>
                  <%= radio_button_tag 'question_count', 30, false, id: 'question_count_30' %>
                  <%= label_tag 'question_count_30', '30問' %>
                </div>
              </div>

              <h3 class='font-bold text-gray-900'>大分類から選択</h3>
              <div class='flex flex-wrap justify-start'>
                <% @major_categories.each do |tag| %>
                  <div class='mt-3 mr-2 bg-amber-100 text-gray-800 font-bold py-2 px-4 shadow-xl text-center'>
                    <%= check_box_tag 'tag_ids[]', tag.id, false, id: "tag_#{tag.id}" %>
                    <%= label_tag "tag_#{tag.id}", tag.name %>
                  </div>
                <% end %>
              </div>
              <h3 class='font-bold text-gray-900 mt-3'>共通問題から選択</h3>
              <div class='flex flex-wrap justify-start'>
                <% @common_tags.each do |tag| %>
                  <div class='mt-3 mr-2 bg-green-100 text-gray-800 font-bold py-2 px-4 shadow-xl text-center'>
                    <%= check_box_tag 'tag_ids[]', tag.id, false, id: "tag_#{tag.id}" %>
                    <%= label_tag "tag_#{tag.id}", tag.name %>
                  </div>
                <% end %>
              </div>
              <h3 class='font-bold text-gray-900 mt-3'>専門問題から選択</h3>
              <div class='flex flex-wrap justify-start'>
                <% @special_tags.each do |tag| %>
                  <div class='mt-3 mr-2 bg-blue-100 text-gray-800 font-bold py-2 px-4 shadow-xl text-center'>
                    <%= check_box_tag 'tag_ids[]', tag.id, false, id: "tag_#{tag.id}" %>
                    <%= label_tag "tag_#{tag.id}", tag.name %>
                  </div>
                <% end %>
              </div>
              <div class='mt-3 flex justify-center'>
                <%= f.submit '小テストを始める', class: 'bg-orange-300 text-gray-100 hover:bg-sky-500
                                                      hover:text-orange-300 font-bold py-2 px-4 rounded-lg' %>
                <%= link_to '条件をクリア', tests_select_path, class: 'bg-gray-500 text-gray-100 hover:bg-gray-500
                                                      hover:text-red-300 font-bold py-2 px-4 ml-2 rounded-lg' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
