<!-- 問題登録後パーシャル化 -->
<%= form_with url: user_responses_path, method: :post do |f| %>
  <%= hidden_field_tag :test_id, @test.id %>
  <div class='flex flex-wrap flex-grow text-gray-600 body-font'>
    <div class='w-full max-w-4xl m-auto'>
      <% @questions.each do |question| %>
      <div class='flex mb-10'>
        <div class='w-full h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden shadow-xl'>
          <div class='m-5'>
            <!-- 問題番号 -->
            <div class='flex items-center font-bold space-x-2 justify-between'>
              <div><%= @test.decorate.question_code(question) %></div>
              <div class='flex'>
                <% question.tags.each do |tag| %>
                  <span class='rounded-full p-2 mx-1 <%= tag.decorate.category_color %>'><%= tag.name %></span>
                <% end %>
              </div>
            </div>
            <!-- 問題文 -->
            <div class='m-5'>
              <%= question.content %>
            </div>
            <!-- 図 -->
            <div class='flex justify-center'>
              <% if question.image_url.present? %>
                <%= image_tag "/#{question.image_url}",
                              style: 'max-width: 500px; max-height: 500px; width: auto; height: auto;' %>
              <% end %>
            </div>
            <!-- 選択肢 -->
            <div>
              <ul>
                <% question.choices.each_with_index do |choice, index| %>
                  <li>
                    <div class='flex items-center ps-3 mb-2'>
                      <%# check_box_tag を使用することで、各質問ごとに識別して名前空間を持たせる %>
                      <%# @user_responsesでエラーがあった際の解答を保持する %>
                      <%= check_box_tag 'user_response[choice_ids][]', choice.id,
                                        @user_responses.include?(choice.id.to_s),
                                        id: "select-#{question.id}-#{index + 1}",
                                        class: 'w-4 h-4 bg-gray-100 border-gray-300 rounded focus:ring-blue-500' %>
                      <label for='select-<%= question.id %>-<%= index + 1 %>'>
                        <span class="w-full py-3 ms-2 text-base font-medium text-gray-900">
                          <%= choice.option_number %>. <%= choice.content %>
                        </span>
                      </label>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="text-center justify-center">
    <%= f.submit 'テストを終了する',
                 class: 'bg-sky-100 text-gray-700 hover:bg-sky-500 hover:text-orange-300
                    font-bold py-2 px-4 rounded-lg shadow-xl' %>
  </div>
<% end %>
