<div class="flex flex-wrap p-2 flex-col md:flex-row items-center bg-sky-100">
    <%= link_to root_path, class: 'flex title-font font-medium items-center text-gray-900 mb-2 md:mb-0' do %>
        <%= image_tag 'logo.png', size: 50 %>
        <span class="ml-3 text-xl">国試ex for PT</span>
    <% end %>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <%= link_to 'トップ', root_path, class: 'mr-5 hover:text-orange-300 block' %>
        <%= link_to 'ダッシュボード', dashboard_path, class: 'mr-5 hover:text-orange-300 block' %>
        <%= link_to '過去問演習', tests_select_path, class: 'mr-5 hover:text-orange-300 block' %>
        <% if user_signed_in? %>
            <div class="mr-5 hover:text-orange-300">
                <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
            </div>
            <%= link_to 'マイページ', account_path, class: 'mr-5 hover:text-orange-300 block' %>
        <% else %>
            <%= link_to 'ログイン', new_user_session_path, class: 'mr-5 hover:text-orange-300 block' %>
            <%= link_to 'ゲストログイン', users_guest_sign_in_path, data: { 'turbo-method': :post },
                                                             class: 'mr-5 hover:text-orange-300 block' %>
        <% end %>
    </nav>
</div>
